html {
    /* overflow: hidden; */ 
}

::-webkit-scrollbar {
    display: none;
}

:root {
  --primaryColor: #566bc7;
  --primaryTextColor: #fff;
}

.mdi-filled {
  color: rgb(24, 32, 43)!important;
}
 *:focus
 {
 outline:none!important;
 }